ul {
  border: 1px solid #555;
  background-color: #333;
  overflow: hidden;
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 4px 16px;
}
