body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(3,13,34,255);;
  color: white;
  /* text-indent: 1rem; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 3rem;
  border-bottom: 1px solid rgb(90, 245, 250);
  background-color: rgba(3,13,34,255);
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0%;
  margin: 0;
  animation: name-slide 1.5s forwards;
  animation-delay: 3s;
  top: -15rem;
  position: relative;
}

.my-name {
  float: left;
  display: flex;
  font-size: x-large;
  /* padding: 1%; */
}

.nav-items {
  float: right;
  display: flex;
}

.start-nav,
.dev-work-nav,
.music-nav,
.about-nav,
.contact-nav {
  /* float: right; */
  margin-left: 10px;
  /* padding: 1%; */
  font-size: larger;
}

.contact-nav {
  padding-right: 1rem;
}

/* BEGINNING OF START COMPONENT */ 

.start {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  height: 95vh;
  flex-wrap: wrap; 
  width: 50%;    
  margin-left: 10rem;
}

.start-one {
  font-size: xxx-large;
}

.start-two {
  font-size: large;
}

.start-img img {
  width: 2rem;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  margin-left: 1rem;
}

/* @keyframes unhide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.slide-in {
  position: relative;
  left: -200rem; 
  animation: slide-in 1.5s forwards;
}

.slide-in h3, .slide-in p {
  margin: 0;
  margin-bottom: 1rem;
  height: 100%;
}

.slide-in:nth-child(2) {
  animation-delay: 1s; 
}

.slide-in:nth-child(3) {
  animation-delay: 2s; 
}

@keyframes slide-in {
  0% {
    left: -200rem; 
  }
  100% {
    left: 0; 
  }
}

.start-software-engineer, .start-game-developer, .start-musician {
  color: rgb(0, 255, 149)
}

.start-software-engineer:hover, .start-game-developer:hover, .start-musician:hover {
  cursor: pointer;
  text-decoration: underline;
}

.invisible {
  opacity: 0 !important;
  /* transition: opacity 0.5s ease-out; */
}

/* .start-one, .start-two {
  text-indent: 1rem;
} */

/* END OF START COMPONENT */ 

@keyframes name-slide {
  0% {
    top: -25rem;
    position: relative;
  }
  99%{
    top: 0;
    position: relative;
  }
  100% {
    top: 0;
    position: sticky;
  }
}

.devwork {
  animation: dev-slide 1s forwards;
  /* animation-delay: 4.5s; */
  opacity: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-gap: 1rem;
  height: 55vh;
}

@keyframes dev-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow img {
  width: 10rem;
  animation: phase 2s infinite;
  animation-delay: 5s;
  opacity: 0;
}

@keyframes phase {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.project-card {
  border: 1px solid white;
  padding-bottom: 1rem;
  width: 14rem;
  height: 4rem;
}

.project-card:hover {
  border: 1px solid rgb(0, 247, 255);
  cursor: pointer;
}

.project-card-info {
  animation: dev-slide 1s forwards;
  opacity: 0;
}

p, h3 {
  margin-inline: 1rem;
}

a {
  color: white;
}

h3 {
  font-weight: 420;
}

.nav-items li {
  display: block;
}

.expanded-card {
  animation: expand-card 1s forwards;
  width: 14rem;
  height: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expanded-card img, .expanded-card p{
  opacity: 0;
  animation: expand-card-two 1s forwards;
  animation-delay: 1s;
}

.expanded-card img {
  width: 10rem;
  top: 0;
  right: 0;
  /* border: 1px solid white; */
  position: absolute;
}

@keyframes expand-card {
  0% {
    width: 14rem;
    height: 4rem;
  }
  100% {
    width: 25rem;
    height: 30rem;
  }
}

@keyframes expand-card-two {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-card-info-bottom {
  margin-top: auto;
}