body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(3,13,34,255);
  color: white;
  /* text-indent: 1rem; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 3rem;
  border-bottom: 1px solid rgb(90, 245, 250);
  background-color: rgba(3,13,34,255);
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0%;
  margin: 0;
  animation: name-slide 1.5s forwards;
  animation-delay: 3s;
  top: -15rem;
  position: relative;
}

.my-name {
  float: left;
  display: flex;
  font-size: x-large;
  /* padding: 1%; */
}

@keyframes name-slide {
  0% {
    top: -25rem;
    position: relative;
  }
  99%{
    top: 0;
    position: relative;
  }
  100% {
    top: 0;
    position: sticky;
  }
}

.nav-items {
  float: right;
  display: flex;
}

.start-nav,
.dev-work-nav,
.music-nav,
.about-nav,
.contact-nav {
  /* float: right; */
  margin-left: 10px;
  /* padding: 1%; */
  font-size: larger;
}

.contact-nav {
  padding-right: 1rem;
}

/* BEGINNING OF START COMPONENT */ 

.start {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  height: 95vh;
  flex-wrap: wrap; 
  /* width: 50%;     */
  margin-left: 5rem;
  /* margin-right: 20rem; */
  width: 70vw;
}

.start-one, .start-two, .start-img {
  width: 40rem;
}

.start-one {
  font-size: xxx-large;
}

.start-two {
  font-size: large;
}

.start-img img {
  width: 2rem;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  margin-left: 1rem;
}

/* @keyframes unhide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.slide-in {
  position: relative;
  left: -200rem; 
  animation: slide-in 1.5s forwards;
}

.slide-in h3, .slide-in p {
  margin: 0;
  margin-bottom: 1rem;
  height: 100%;
}

.slide-in:nth-child(2) {
  animation-delay: 1s; 
}

.slide-in:nth-child(3) {
  animation-delay: 2s; 
}

@keyframes slide-in {
  0% {
    left: -200rem; 
  }
  100% {
    left: 0; 
  }
}

.start-software-engineer, .start-game-developer, .start-musician {
  color: rgb(0, 255, 149)
}

.start-software-engineer:hover, .start-game-developer:hover, .start-musician:hover {
  text-decoration: underline;
}

.invisible {
  opacity: 0 !important;
  /* transition: opacity 0.5s ease-out; */
}

.phase-in, .my-image {
  animation: phase-in 1s forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes phase-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .start-one, .start-two {
  text-indent: 1rem;
} */

.my-image-container {
  display: flex; 
  align-items: center;
  margin-left: 1rem;
  position: relative;
  width: 10rem;
  height: 100%;

}

.my-image {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  position: absolute;
  width: 15rem;
  border-radius: 10rem;
  float: right;
}


/* END OF START COMPONENT */ 

/* BEGIN PROJECTS */

.devwork {
  animation: dev-slide 1s forwards;
  /* animation-delay: 4.5s; */
  opacity: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-gap: 1rem;
  /* height: 55vh; */
}

.project-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  /* height: 55vh; */
}

.project-buttons {
  margin-left: 4rem;
  position: absolute;
}

.project-button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project-button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 255, 149);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.project-button {
  display: inline-block;
  position: relative;
  color: rgb(0, 255, 149);
  margin-right: 1rem;
}

.project-button:hover {
  cursor: pointer;
}

@keyframes dev-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-card {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  width: 30vw;
  margin-inline-start: 5vh; 
  box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.3)
}

.project-card img {
  width: 28vw;
  margin-left: 1vw;
}

/* .project-card:hover {
  border: 1px solid rgb(0, 247, 255);
} */

.project-card-info {
  animation: dev-slide 1s forwards;
  opacity: 0;
}

p, h3 {
  margin-inline: 1rem;
}

a {
  color: white;
}

h3 {
  font-weight: 420;
}

.nav-items li {
  display: block;
}

button {
  border: 1px solid white;
  border-radius: 0.5rem;
  color: white;
  background-color: rgba(3,13,34,255);
  margin-left: 1rem;
  transition: all 0.2s ease-in-out;
}

button a {
  text-decoration: none;
}

/* button a:hover {
  color: rgb(0, 247, 255);
} */

button:hover {
  color: rgb(0, 247, 255);
  border-color: rgb(0, 247, 255);
  font-size: 100%;
}